
body {
  margin: 0;
  min-width: 250px;
}

* {
  box-sizing: border-box;
}



ol {
  margin: 5px;
  padding: 5px;
  background-color: rgb(211, 224, 224);
}


ol li {
  padding: 12px 8px 12px 40px;
  cursor: pointer;
  position: relative;
  list-style-type: decimal;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  border: 0.1px solid rgb(233, 225, 225);

}

ol li:hover {
  background: rgb(207, 197, 197);
}

ol li.done {
  background: #888;
  color: rgb(211, 224, 224);
  text-decoration: line-through;
}

ol li.done::before { 
  position: absolute;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  border-color: #fff;
  border-style: solid;
  
}


.delete {
  position: absolute;
  padding: 12px 20px ;
  right: 0;
  top: 0;
  
}

.delete:hover {
  background-color: #f44336;
  color: white;
}

.myDos {
  padding: 20px 70px;
  background-color: #859fac;
  color: white;
  text-align: center;
}

.myDos:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  color: rgb(1, 46, 1);
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}


.btn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: rgb(5, 15, 1);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.btn:hover {
  background-color: #bbb;
}
